.header{
     width: 100%;
     height: 85px; ;
     background-color: #3b5998;
}
body{
     margin: 0;
     font-family: Helvatica Neue,Helvatica,Arial,sans-seif; ;
}
.logo{
     width: 50%;
     padding-top: 28px;
     float: left;
}
.login{
     width: 50%;
     float: left;
     padding-top: 10px;

}
.logo-text{
     color: white;
    font-size: 42px;
    font-weight: bold;
    text-decoration: none;
    font-family: Helvatica Neue,Helvatica,Arial,sans-seif;
    margin-left: 261px;
     
 }.login-label1{
     color: white;
     font-size: 11px;
 }
 .login-label2{
     color: white;
     font-size: 11px;
 }
 .login-label3{
     color: rgba(233, 222, 222, 0.979);
     font-size:13px;
 }
.table{
     margin-left: 115px;
}.sub-but{
     background-color: #6e8bc9;
     color: white;
     height: 20px;
     border: none;
cursor: pointer;
}
.sub-but:hover{
    background-color: red;
}
.main-body{
     background-color:rgb(209, 203, 203);
     height: 800px;
 padding-top: 6px;
}
.left-side{
     width: 50%;
     float: left;
}
.right-side{
     width: 50%;
     float: left;
     
}
.para-1{
     font-size: 20px;
     margin-left: 207px;
     margin-top: 45px;
     font-weight: bold;

}

.form{
     margin-left: 130px;
}.name{
     border-radius: 4px;
     height: 21px;
}
.mobile{
     border-radius: 4px;
height: 21px;
width: 352px;
}
.pass{
     border-radius: 4px;
}
.sur{
     border-radius: 4px;
     height: 21px;
}.img{
     width: 556px;
     margin-left: 210px;
     height: 360px;
}.button {
     height: 39px;
     width: 193px;
     font-size: 18px;
     font-weight: bold;
     padding-left: 19px;
     background-color: green;
     color: white;
}